<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>birth</servlet-name>
        <servlet-class>birth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>death</servlet-name>
        <servlet-class>death</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>select</servlet-name>
        <servlet-class>select</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tryp</servlet-name>
        <servlet-class>tryp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>birth</servlet-name>
        <url-pattern>/birth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>death</servlet-name>
        <url-pattern>/death</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>select</servlet-name>
        <url-pattern>/select</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tryp</servlet-name>
        <url-pattern>/tryp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
